@font-face {
  font-family: 'Myriad Pro';
  src: url('/assets/fonts/MyriadPro-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/assets/fonts/MyriadPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
